*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
}
.input{
    width: 345px;
    height: 25px;
}

.btn-child{
  width: 350px;
  height: 30px;
  display: flex;
  justify-content: space-between;  
  background-color: black;
}
.btn-child button{
    background-color: lightskyblue;
    border: solid 0.5px white;
    width: 100%;
    cursor: pointer;
}

.btn-child button:hover{
    background-color: rgb(112, 182, 226);
}